# Database Configuration
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_ADMIN_PASSWORD=

# API Configuration
ASPNETCORE_URLS=http://+:5000
ASPNETCORE_ENVIRONMENT=Development
DatabaseConnectionString=
DevelopmentUser=11111111-1111-1111-1111-111111111111

# CORS Configuration
CORS_DOMAIN=http://localhost:8080

# Web Configuration
API_URL=http://api:5000/api/
WEB_BASE_HREF=/
APP_ENVIRONMENT=dev

# Docker Compose Project Name
COMPOSE_PROJECT_NAME=unified-scheduling

# KeyCloak Configuration
KeycloakAuthority=
KeycloakClient=
KeycloakSecret=
KeycloakAudience=

# JC Interface Configuration
LocationServicesClientUsername=
LocationServicesClientPassword=
LocationServicesClientUrl=
JCInterfaceHttpTimeout=00:00:30
JCInterfaceSkipSync=true
JCInterfaceSyncCron=disabled
JCInterfaceExpireRegions=false
JCInterfaceExpireLocations=false
JCInterfaceExpireCourtRooms=false
JCInterfaceAssociateUsersWithNoLocationToVictoria=false

# Hangfire Configuration
HangfireEnabled=false
HangfireServerEnabled=false
HangfireDashboardEnabled=false
HangfirePrepareSchemaIfNecessary=true
HangfireRetryCount=3

# CHES Configuration
ChesEnabled=false
ChesBaseUrl=https://ches.api.gov.bc.ca/api/v1/
ChesAuthUrl=
ChesClientId=
ChesClientSecret=
ChesSenderName=Unified Scheduling
ChesSenderEmail=
ChesTokenRefreshSkewSeconds=60
ChesTimeoutSeconds=30
ChesAllowedAttachment0Extension=.pdf
ChesAllowedAttachment0ContentType=application/pdf
ChesMaxAttachmentSizeBytes=20971520
ChesMaxRecipientsPerMessage=500
